html{
	margin: 5px 20% 1em;
}
body{
	background-color: #2E3A69;
	color:#E0E0E0;
	font-family: Georgia;
	text-align: center;
	line-height: 1.5;
}
h2{
	color:#E0E0E0;
	text-align: center;
}
h4{
	color: #E9967A;
	text-align: left;
}
a{
	color:#E9967A;
}
p{
	text-align: left;
}
h1{
	color: #FFA07A;
}
circle.sun{
	color: yellow;
	
}